*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.register{
    width: 200px;
    height: 150px;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    left: 800px;
    top:64px;
    border-radius: 5px;
    z-index: 3;
}
header{
    width: 100%;
    height: 18vh;
}

.nav{
    width: 100%;
    height: 10vh;
    background-color: #0C92F2;
}
.search{
    width: 980px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.search-inner{
    width: 284px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.search-inner input{
    width: 280px;
    height: 37px;
    background-color: #0B84DA;
    border-radius: 5px;
    display: block;
    border: none;
   color: white;
}
header .menu{
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid #C8C8C8;
}
.menu-inner{
    width: 984px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

}
.menu-down:hover{
    height: 100px;
    background-color: #8D8F8B;
}
a:visited{
    color: #000000;
}
a:hover{
    color:#7C7F79;
}
.menu-inner div{
    width: auto;
    height: auto;
    line-height: 8vh;
    font-family: 微软雅黑;
    margin-left: 40px;
    position: relative;
}
.menu-inner div:nth-child(8){
   position: absolute;
    right: 150px;
}
.menu-inner div:nth-child(7){
    position: absolute;
    right: 250px;
}
.menu-inner div a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 2326px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    width: 980px;
    height: 2326px;
    display: flex;
    justify-content: space-between;

}
.inner-left{
      width: 722px;
      height: auto;
  }
.gallery{
    width: 722px;
    height: 409px;
    overflow: hidden;
    position: relative;
}
.gallery .carrousel{
    height: 409px;
    width: 4332px;
    position: absolute;
    z-index: 1;
}
.gallery .carrousel div{
    float: left;
}
.gallery .carrousel  > div img{
    width: 722px;
    height: 409px;
    display: block;
}
.gallery .carrousel-side{
    width: 720px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 1px;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}
.gallery .carrousel-side .carrousel-side-inner{
    width: auto;
    height: 60px;

}
.gallery .carrousel-side .carrousel-side-inner > div{
    width: 96px;
    height: 66px;
    float: left;
    margin-right: 6px;
    margin-left: 6px;
    border: 3px solid transparent;
    transition: border 0.5s;
}
.gallery .carrousel-side .carrousel-side-inner >div:hover{
    border: 3px solid #ffe900;
}
.gallery .carrousel-side > div img{
    width: 90px;
    height: 60px;
    display: block;
}
.youji{
    width: 100%;
    height: 167px;
    border-bottom:1px solid #C8C8C8 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tour{
     width: 722px;
     height: 80px;
     padding: 1px;
    border-bottom:1px solid #C8C8C8 ;
 }
.tour div{
    height: auto;
    width: auto;
    border-left: 5px solid #FFDB00;
    margin-top: 40px;
    font-family: "微软雅黑 Light";

}
.tour-address{
    width: 722px;
    height: 275px;
    border-bottom:1px solid #C8C8C8 ;
}
.tour-address > div{
    float: left;
}
.tour-address .address{
    width: 722px;
    height: 50px;
    clear: both;
}
.tour-address .address > div{
    width: 140px;
    height: 50px;
    float: left;
    font-size: 20px;
    border-top: 2px solid transparent;
    position: relative;
}
.tour-address .address > div .address-menu{
    width: 722px;
    height: 225px;
    position: absolute;
    top:50px;
}
.tour-address .address > div:nth-child(2) .address-menu{
    width: 722px;
    height: 225px;
    position: absolute;
    top:50px;
    left:-140px;
    visibility: hidden;
}
.tour-address .address > div:nth-child(3) .address-menu{
    width: 722px;
    height: 225px;
    position: absolute;
    top:50px;
    left:-280px;
    visibility: hidden;
}
.tour-address .address > div:nth-child(4) .address-menu{
    width: 722px;
    height: 225px;
    position: absolute;
    top:50px;
    left:-420px;
    visibility: hidden;
}
.tour-address .address > div:nth-child(5) .address-menu{
    width: 722px;
    height: 225px;
    position: absolute;
    top:50px;
    left:-560px;
    visibility: hidden;
}
.tour-address .address > div .address-menu > div{
    float: left;
}
.tour-address .address > div:hover{
    border-top: 2px solid #FFDB00;
}
.tour-address .address div a:hover{
    color: #7C7F79;
}
.tour-address .address > div > a{
    width: 140px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #C8C8C8;
    color: #0B84DA;
    margin-top: 10px;
}

.hots-tours{
    width: 386px;
    height: 225px;
    margin-left: 30px;
}
.hots-tours div{
    width: 386px;
    height: 50px;
    border-bottom:1px solid #C8C8C8 ;
    line-height: 50px;
}
.hots-tours > div:hover{
    background-color: #FCFADE;
}
.hots-tours span{
    font-size: 40px;
}
.hots-tours a{
    font-size: 22px;
    text-decoration: none;
}
.tourtalk{
    width: 722px;
    height: 512px;
}
.tourtalk > div{
    float: left;
}
.talktitle{
    width: 722px;
    height: 85px;
    clear: both;
    border-left: 5px solid #FFDB00;
}
.talktitle p{
    font-size: 8px;
    margin-top: -10px;
    margin-left: 10px;

}

.talker{
    width: 307px;
    height: 348px;
}
.talker2{
    width: 399px;
    height: 348px;
    margin-left: 16px;
}
.talker2 div{
    float: left;
    height: 215px;
}

.inner-right{
    width: 240px;
    height: auto;
}
.inner-right .menu{
    width: 240px;
    height: 282px;
    margin: 0 auto;
    background-color: #F7F7F7;
    padding: 1px;

}
.tourApp{
    width: 204px;
    height: auto;
    margin-top: 12px;
}
.inner-right .menu .hots{
    width: 203px;
    height: 57px;
    border-bottom: 1px solid #C8C8C8;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 15px;

}
.inner-right .menu .hots:nth-child(3){
    border: none;
}
.inner-right .menu .hots:last-child{
    border: none;
    background: url("../images/home-create-btns_7e09f23a.png")no-repeat;
    margin-top: -2px;
}
.inner-right .menu .hots:last-child > div a{
    width: 97px;
    height: 48px;
    display: block;
}

.inner-right .banner{
    width: 240px;
    height: 420px;
    background-color: #00A69D;
}

.logo1,.logo2,.logo3{
    width: 30px;
    height: 42px;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
}
.logos{
    width: 500px;
    height: 163px;
}
.inner-right .menu .hots .logo1 .logos{
    position: absolute;
}
.inner-right .menu .hots .logo2 .logos{
    position: absolute;
    left: -30px;
}
.inner-right .menu .hots .logo3 .logos{
    position: absolute;
    bottom: 2px;
    left: -1px;
}
.inner-right .menu .hots a{
    font-size: 30px;
    color: red;
    text-decoration: none;
    margin-top: 10px;

}
.inner-right .menu .hots span{
    font-size: 10px;
}

.inner-right .menu .hots div{
    line-height: 30px;
}

.inner-right .menu .hots div p{
    font-size: 10px;
    margin-top: -10px;
}
.police{
    width: 240px;
    height: 77px;
    background-color: #F7F7F7;
    margin-top: 15px;

}
.school{
    margin-top: 15px;
}
.dreamer{
    width: 240px;
    height: 168px;
    margin-top: 15px;
}
.daren{
    width: 240px;
    height: 712px;
    background-color: #F7F7F7;
    margin-top: 15px;
    position: relative;
}
.daren  h3 span{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    margin-left: 10px;
}
.sina,.baidutieba{
    width: 240px;
    height: 81px;
    margin-top: 10px;
    position: relative;
}
.sina{
    background: url("../images/weibo-focus-bg_e5d9bf78.png")center center no-repeat;
}
.sina a,.baidutieba a{
    display: block;
    width: 62px;
    height: 22px;
    position: absolute;
    top: 46px;
    left: 84px;
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;
    text-align: center;
    overflow: hidden;

}
.sina a {
}
.bg{
    width: 207px;
    height: 68px;
    background: url("../images/bg_flbtn_443ee970.png")center center no-repeat;
    position: absolute;
    left: -62px;
}
.bg:nth-child(2){
    width: 207px;
    height: 68px;
    background: url("../images/bg_flbtn_443ee970.png")center center no-repeat;
    position: absolute;
    left: -186px;
    top: 6px;
}

.baidutieba{
    background: url("../images/tieba_cooperation_1570c700.png")center center no-repeat;
}
.darennew{
    width: 36px;
    height: 36px;
    background: url("../images/daren-new_1cca6a56.png")center center no-repeat;
    position: absolute;
    right: 0;

}


footer{
    width: 100%;
    height: 50vh;
    background-color: #1B5AC5;
    padding: 1px;
}
.footer{
    width: 984px;
    height: 80%;
    margin: 30px auto;
    background-color: #ffffff;
}
