# Created by .ignore support plugin (hsz.mobi)
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/my_exercises.iml
.idea/vcs.xml
.idea/workspace.xml
/node_modules/
learning-manage/.idea/
node_modules/

