*{
    box-sizing: border-box;
    margin: 0;
}
.header-outside{
    width: 100%;
    height: auto;

}
.header{
    width: 1900px;
    height: 84px;
    margin: 0 auto;
    border: 1px solid #C8C8C8;
    /*background-color: #C8C8C8;*/

}
.header-inner{
    width: 1500px;
    height: 84px;
    margin: 0 auto;
    position: relative;
}
.header-inner div{
    float: left;
}
.header-inner img{
    display: block;
}
.header-select{
     position: absolute;
    top: 20px;
     left: 138px;
 }
.serach{
    position: absolute;
    top: 20px;
    left: 270px;
    /*position: relative;*/
}
.serach input{
    width: 456px;
    height: 40px;
}
.serach img{
    position: absolute;
    right: 10px;
    top: 3px;
}
.header-select select{
    width: 100px;
    height: 40px;
}
.add-button input{
    width: 51px;
    height: 41px;
    font-size: 50px;
    text-align: center;
    line-height: 41px;
    font-family: 黑体;
    color: white;
    background-color: #C8C8C8;
    position: absolute;
    left: 800px;
    top: 20px;
}
.user-comtent{
    width: 700px;
    height: 48px;
    position: absolute;
    bottom: 15px;
    right: -100px;
}
.user-comtent img{
    display: block;
    float: left;
}
.user-comtent div{
    float: left;
}
.user-comtent select{
    border: none;
}
.user-comtent a{
    text-decoration: none;
    color: #444444;
    font-family: 宋体;
    font-size: 18px;

}
.user-comtent input[type=button]{
    background-color: #FF4466;
    border-radius: 6px;
    border: none;
    color: white;
}
.hrs{
    width: 2px;
    height: 31px;
    background-color: #EBEBEB;
}
.comtent-outside{
    width: 100%;
    height: auto;
    background-color: white;
}
.comtent{
    width: 1900px;
    height: 6318px;
    margin: 0 auto;
    background-color: #F1F2F3;
}
.comtent-inner{
    width: 1500px;
    height: 6318px;
    background-color: #F1F2F3;
    margin: 0 auto;
    position: relative;
}
.comtent-header{
    width: 1500px;
    height: 610px;
    position: absolute;
    top: 50px;
    border-bottom: 2px solid #D4D5D5;
}
.gallery{
    position: absolute;
}
.hot{
     width: 586px;
     height: 368px;
     position: absolute;
     right: 0;
     background-color: white;
 }
.app-download{
    width: 586px;
    height: 166px;
    position: absolute;
    right: 0;
    bottom: 54px;
    background-color: white;

}
.zhuanjijinxuan{
    width: 1500px;
    height: 524px;
    position: absolute;
    top: 662px;

}
.zhuanji-nav{
    width: 1500px;
    height: 105px;
    position: absolute;
}
.zhuanji-nav h3{
      position: absolute;
      top: 20px;
      font-family: 等线;
}
.gengduoderen,.wangqihuigu{
    position: absolute;
    right: 0;
    top: 30px;
}
.wangqihuigu input,.gengduoderen input{
    background-color: #22B4F6;
    font-family: 微软雅黑;
    color: white;
    border-radius: 5px;
    border: none;
    width: 102px;
    height: 35px;
    font-size: 20px;
}
.zhuanji-gallery{
    width: 1500px;
    height: 408px;
    position: absolute;
    top: 105px;
}
.zhuanji-gallery .photos{
    width: 282px;
    height: 408px;
    float: left;
    margin-left: 22px;
    background-color: white;
}
.danpingtuijian{
    width: 1500px;
    height: 533px;
    position: absolute;
    top: 1266px;
}
.danpingtuijian-head{
    width: 1500px;
    height: 58px;
    position: absolute;
}
.danpingtuijian-gallery{
    width: 1500px;
    height: 376px;
    position: absolute;
    top: 58px;


}
.danpingtuijian-photos{
    width: 282px;
    height: 374px;
    background-color: white;
    float: left;
    margin-left: 22px;
}
.zhuanji-gallery .photos:first-child,.danpingtuijian-photos:first-child{

   margin-left: 2px;
}
.darentuijian{
    width: 1504px;
    height: 426px;
    border-top: 2px solid #D4D5D5;
    position: absolute;
    top: 1885px;
}
.darentujian-head{
    width: 1500px;
    height: 108px;
    position: absolute;
}
.darentuijian-gallery{
    width: 1504px;
    height: 318px;
    position: absolute;
    top: 108px;

}
.darentuijian-photos{
    margin-left: 25px;
    float: left;
}
.darentuijian-photos:first-child{
  margin-left: 0;
}
.footer{
    width: 100%;
    height: auto;
    background-color: white;
}
.footer-inner{
    width: 1900px;
    height: 335px;
    background-color: #E1E2E3;
    margin: 0 auto;
    position: relative;
}
.everybody{
    width: 1500px;
    height: 3880px;
    position: absolute;
    top: 2311px;
}
.everybody .td{
    float: left;
    width: 280px;
    height: auto;
    margin-left: 23px;
}
.everybody .td:first-child{
    margin-left: 2px;
}
.tr1,.tr2,.tr3,.tr4,.tr5,.tr6,.tr7,.tr8,.tr9,.tr10,.tr11,.tr12,.tr13,.tr14,.tr15,.tr16,.tr17,.tr18,.tr19,.tr20,.tr21,.tr22,.tr23,.tr24{
    margin-top: 26px;
    border: 1px solid #C8C8C8;

}

.tr1{
    width: 280px;
    height: 600px;
    background-color: white;

}
.tr2{
    width: 280px;
    height: 722px;
    background-color: white;
}
.tr3{
    width: 280px;
    height: 480px;
    background-color: white;
}
.tr4{
    width: 280px;
    height: 484px;
    background-color: white;
}
.tr5{
     width: 280px;
     height: 484px;
     background-color: white;
 }
.tr6{
    width: 280px;
    height: 570px;
    background-color: white;
}.tr7{
     width: 280px;
     height: 570px;
     background-color: white;
 }
.tr8{
    width: 280px;
    height: 570px;
    background-color: white;
}
.tr9{
    width: 280px;
    height: 730px;
    background-color: white;
}
.tr10{
    width: 280px;
    height: 592px;
    background-color: white;
}
.tr11{
     width: 280px;
     height: 426px;
     background-color: white;
 }
.tr12{
     width: 280px;
     height: 578px;
     background-color: white;
 }
.tr13{
    width: 280px;
    height: 753px;
    background-color: white;
}
.tr14{
    width: 280px;
    height: 1238px;
    background-color: white;
}
.tr14 img{
    display: block;
    margin: 0 auto;
}
.tr15{
    width: 280px;
    height: 478px;
    background-color: white;
}
.tr16{
    width: 280px;
    height: 344px;
    background-color: white;
}
.tr17{
    width: 280px;
    height: 568px;
    background-color: white;
}
.tr18{
    width: 280px;
    height: 555px;
    background-color: white;
}
.tr19{
    width: 280px;
    height: 427px;
    background-color: white;
}
.tr20{
    width: 280px;
    height: 804px;
    background-color: white;
}
.tr21{
    width: 280px;
    height: 1178px;
    background-color: white;
}
.tr22{
    width: 280px;
    height: 486px;
    background-color: white;
}
.tr23{
    width: 280px;
    height: 525px;
    background-color: white;
}
.tr24{
    width: 280px;
    height: 624px;
    background-color: white;
}
.footer-content{
    width: 1515px;
    height: 200px;
    position: absolute;
    top: 27px;
    left: 200px;

}
.footer-content li{

    list-style: none;
    font-size: 16px;
    color: #666666;
   margin-top: 16px;

}
.footer-content ul:last-child{
    position: absolute;
    left: 120px;
    top: 34px;

}
.footer-content a{
    text-decoration: none;

}
.footer-content a:visited{
    color: #666666;

}
.footer-content div{
    width: 302px;
    height: 200px;
    float: left;
    border-left: 2px solid #CFD0D1;
}
.footer-content div .seconelink{
    display: block;
    position: absolute;
    left: 300px;
}
.footer-content div .thirdlink{
    display: block;
    position: absolute;
    left: 430px;

}
.footer-content div:nth-child(3){
    background-image: url("二维码.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}
.footer-content div:nth-child(3) p{
    margin-left: 95px;
    color: #666666;

}
.footer-content div:nth-child(3) p:first-child{
    margin-left: 110px;
    margin-top: 170px;
}
.footer-content div:nth-child(4) ul:last-child{


    left: 1050px;
}
.footer-content div:last-child ul:last-child{


    left: 1350px;
}
.buttons{
    width: 58px;
    height: 171px;
    position: absolute;
    top: 122px;
    right: 125px;
}
.hot-header {
    width: 502px;
    height: 43px;
    margin: 20px auto;
    border-bottom: 1px solid #C8C8C8;
    color: #b2b2b2;
}
.hot-links{
     width: 502px;
     height: 80px;
    margin-left: 20px;
}
.hot-links div{
    float: left;
    border-right: 1px solid #C8C8C8;
    margin-left: 20px;
    margin-top: 5px;
}
.hot-links a{
    color: #444444;
    text-decoration: none;
}
.hot-news{
    width: 502px;
    height: auto;
    margin-left: 40px;

}
.hot-news div{
    width: 502px;
    height: 64px;
    border-bottom: 1px solid #b2b2b2;
    line-height: 64px;
    color: #444444;
}
.hot-news div:nth-child(1) input{
    background-color: #FFBB33;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.hot-news div:nth-child(2) input{
    background-color: #FF4466;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.app-download-link{
    width: 278px;
    height: 161px;
    line-height: 161px;
}
.app-download div{
    float: left;
}
.app-download-link p{
    margin-top: -130px;
    margin-left: 10px;
    font-family: "微软雅黑 Light";
}
.app-download-link input{
    width: 104px;
    height: 35px;
    border-radius: 4px;
    color: white;
    background-color: #E84C3D;
    border: none;
    margin-top: -70px;
    margin-left: 16px;
    display: block;
}
.app-download-link h2{
    margin-left: 14px;
    font-family: "微软雅黑 Light";
}
.zhuanji-gallery p{
    font-size: 18px;
    font-family: "微软雅黑 Light";
    margin-top: 2px;
    margin-left: 10px;
}
.zhuanji-gallery h6{
    font-family: "微软雅黑 Light";
    margin-top: 40px;
    margin-left: 10px;
    display: block;
}
.danpingtuijian-photos input{
    width: 71px;
    height: 32px;
    background-color: #FFBB33;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 200px;
    margin-top: -20px;
    display: block;
}
.danpingtuijian-photos p{
    color: #666666;
    margin-left: 20px;
    margin-top: 20px;
}
.danpingtuijian-photos h6{
    color: #999999;
    margin-left: 20px;
    margin-top: 20px;
}
.buttonmore input{
    background-color: #22B4F6;
    width: 151px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: white;
}
.buttonmore{
    position: absolute;
    bottom: 0;
    right: 680px;
}
