body{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑，Arial,"GLYPHICONS Halflings";
    background-size: 100% 200%;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container{
    width: 1753px;
    height: 698px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer{
    width: 100vw;
    height: 4vw;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;

}
.footer label{
    color: white;
    font-family: Arial;
    font-size: 3em;
    font-style: italic;
}
#start:checked+.menu{
    width: 70vw;
    height: 40vw;
    visibility: visible;
}
.footer #start{
    visibility: hidden;
}
.footer:before{
    content: attr(data-pc);
    color: white;
    vertical-align: middle;
    font-size: 36px;
}
.footer span{
    color: #343434;
    font-family: 微软雅黑;
    font-size: 36px;
    font-style: italic;
}
.menu{
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.77);
    position: absolute;
    bottom: 4vw;
     visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    transition: width 0.4s,height 0.4s;
    overflow: hidden;
}
.menu div{
    width: 24%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    animation-delay: 2s;
    animation: can 8s infinite;
}
.menu div:hover{
    /*border: 1px solid #9cfff7;*/
    box-shadow:0 0 10px #fff;
}

.menu div:nth-child(1):before{
    content: "\e008";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(2):before{
     content: "\e013";
     font-size: 2.5em;
     color: white;
 }
.menu div:nth-child(3):before{
    content: "\e111";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(4):before{
    content: "\e171";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(5):before{
    content: "\e105";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(6):before{
    content: "\e118";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(7):before{
    content: "\e103";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(8):before{
    content: "\e115";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(9):before{
    content: "\e121";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(10):before{
    content: "\e145";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(11):before{
    content: "\e123";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(12):before{
    content: "\e019";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(13):before{
    content: "\e139";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(14):before{
    content: "\e135";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(15):before{
    content: "\e024";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(16):before{
    content: "\e072";
    font-size: 2.5em;
    color: white;
}
.menu div:nth-child(1){
    background-color: #B61705;
}
.menu div:nth-child(1) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(2){
    background-color: #0086A8;
}
.menu div:nth-child(2) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(3){
    background-color: #6B00BB;
}
.menu div:nth-child(3) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(4){
    background-color: #BB006B;
}
.menu div:nth-child(4) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(5){
    background-color: #A66800;
}
.menu div:nth-child(5) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(6){
    background-color: #779902;
}
.menu div:nth-child(6) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(7){
    background-color: #0113BA;
}
.menu div:nth-child(7) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(8){
    background-color: #009747;
}
.menu div:nth-child(8) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(9){
    background-color: #417A62;
}
.menu div:nth-child(9) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(10){
    background-color: #E800BF;
}
.menu div:nth-child(10) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(11){
    background-color: #01BA95;
}
.menu div:nth-child(11) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(12){
    background-color: #1B5AC5;
}
.menu div:nth-child(12) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(13){
    background-color: #00A69D;
}
.menu div:nth-child(13) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(14){
    background-color: #279B00;
}
.menu div:nth-child(14) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(15){
    background-color: #3C6A6F;
}
.menu div:nth-child(15) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.menu div:nth-child(16){
    background-color: #333333;
}
.menu div:nth-child(16) p{
    color: white;
    font-family: 微软雅黑;
    font-size: 1.2em;
}
.nav{

}
@keyframes can {
    0%{
        transform:rotateX(0deg);
    }
    40%{
        transform:rotateX(0deg);
    }
    60%{
        transform:rotateX(360deg);
    }
    100%{
        transform:rotateX(360deg);
    }
}