*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bordercss{
    width: 100%;
    height: auto;

}
.bodercss-inner{
    width: 1190px;
    height: 1537px;
    margin: 2px auto;
    border: 4px dotted #B6B6B4;
    margin-top: -1540px;
}
.header{
    width: 100%;
    height: auto;
}
.header-inner{
    width: 1200px;
    height: 111px;
    margin: 0 auto;
    background-color: #7C7F79;
    position: relative;

}
.header-inner-logo{
    width: 291px;
    height: 78px;
    background-color: rgba(36,85,84,1);
    position: absolute;
    top: 18px;
    left: -25px;
}
.header-inner-logo span{
    font-size: 18px;
    font-family: 微软雅黑;
    color: white;
    line-height: 78px;
    position: absolute;
    left: 88px;
}
.header-inner-logo span:last-child{
    font-size: 7px;
    font-family: 微软雅黑;
    color: #92AAAA;
    position: absolute;
    left: 88px;
    top: 20px;
}
.header-inner-logo img{
    position: absolute;
    left: 57px;
    top: 26px;

}
.header-inner-link{
    width: 502px;
    height: 58px;
    position: absolute;
    top: 33px;
    right: 170px;
}
.header-inner-link div{
    float: left;
}
.fengexian {
    width: 1px;
    height: 45px;
    border: 1px solid #8D8F8B;
    background-color: #FFF;
    margin-left: 100px;

}
.fengexian a{
    font-size: 16px;
    font-family: 微软雅黑;
    color: white;
    text-decoration: none;
    line-height: 45px;
    text-align: center;
}
.fengexian a:visited{
    color: white;
}
.fengexian:first-child{
    width: 1px;
    height: 45px;
    border: 1px solid #7C7F79;
    background-color: #7C7F79;
    margin-left: 90px;

}
.content{
    height: auto;
    width: 100%;

}
.content-inner{
    width: 1200px;
    height: 1371px;
    margin: 0 auto;
    position: relative;
}
.inner-right{
    width: 394px;
    height: 1343px;
    position: absolute;
    right: 0px;
    top:13px;
    background-color: #DEDFDC;
}
.footer{
    width: 100%;
    height: auto;
}
.footer-inner{
    width: 1200px;
    height: 66px;
    margin: 0 auto;
    background-color: #7C7F79;
    position: relative;

}
.footer-inner-link{
    width: 502px;
    height: 53px;
    position: absolute;
    top: 13px;
    right: 170px;
}
.footer-inner-link div{
    float: left;
}
.footer-inner-link2{
    position: absolute;
    top: 25px;
    left: 20px;

}
.footer-inner-link2 div{
    float: left;
    font-family: 微软雅黑;
    font-size: 16px;
    color: white;
}
.serach{
    width: 360px;
    height: 27px;
    position: absolute;
    left: 13px;
    top: 13px;
}
.serach .input1{
    width: 238px;
    height: 27px;
}
.serach .input2{
    width: 107px;
    height: 27px;
    background-color: #992840;
    border: none;
    font-size: 20px;
    font-family: 微软雅黑;
    color: white;
    border-radius: 4px;
}
.serach .input1,.serach .input2{
    display: block;
    float: left;
    margin-left: 7px;
}
.right-list{
    width: 385px;
    height: 294px;
    margin-top: 50px;

}




