*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8D8F8B;
    margin:  0 auto;
}
.container > div select{
    width: 200px;
    height: 40px;
}
