.wrap{
    width:700px;
    height:250px;
    display:-moz-box;
    display:-webkit-box;
    display:box;


    border: 10px solid #C8C8C8;
}
.sectionOne{
    background:orange;
    -moz-box-flex:3;
    -webkit-box-flex:3;
    box-flex:3;
}
.sectionTwo{
    background:purple;
    -moz-box-flex:2;
    -webkit-box-flex:2;
    box-flex:2;
}
.sectionThree{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    background:green;
}
.flex{
    width: 100%;
    height: 750px;
    background-color: palegreen;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-box{
    width: 100px;
    height: 100px;
    background-color: #7E01C2;
}