*{
    box-sizing: border-box;
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 802px;
    height: 500px;
   border-radius: 5px;
    border: 1px solid #000000;
    margin: 10px auto 0 auto;
}
.head{
    width: 100%;
    height: 30px;
    background-color: #0C92F2;
}
.head > div{
    width: 160px;
    height: 100%;
     text-align: center;
    line-height: 30px;
    color: white;
    float: left;
}
.column{
    width: 160px;
    height: 100%;
    float: left;
    color: #000000;
}