<div class="bar bar-header bar-dark" style="display: flex;justify-content: space-around;
align-items: center;">
    <div class="ion-chevron-left" ui-sref="home" ui-sref-active=""></div>
    <div style="width: 70%;height: 90%;border: 1px solid silver;border-radius: 5px"></div>
    <div class="ion-navicon-round"></div>
</div>
<div class="classify">
    <ion-scroll zooming="true" direction="y" style="width: 20%; height: 100vh">
        <div style="width: 100%; height: auto;margin-bottom: 45px;margin-top: 45px;">
            <div class="classify-inner" ui-sref-active="" ui-sref=".page1-1">热门推荐</div>
            <div class="classify-inner" ui-sref-active="" ui-sref=".page1-2">潮流女装</div>
            <div class="classify-inner" ui-sref-active="" ui-sref=".page1-3">品牌男装</div>
            <div class="classify-inner">个性化妆</div>
            <div class="classify-inner">家用电器</div>
            <div class="classify-inner">电脑办公</div>
            <div class="classify-inner">手机数码</div>
            <div class="classify-inner">母婴童装</div>
            <div class="classify-inner">图书音像</div>
            <div class="classify-inner">家居家纺</div>
            <div class="classify-inner">居家生活</div>
            <div class="classify-inner">家居建材</div>
            <div class="classify-inner">食品生鲜</div>
            <div class="classify-inner">酒水饮料</div>
            <div class="classify-inner">运动户外</div>
            <div class="classify-inner">鞋靴箱包</div>
            <div class="classify-inner">奢品礼品</div>
            <div class="classify-inner">钟表珠宝</div>
            <div class="classify-inner">玩具乐器</div>
            <div class="classify-inner">内衣配饰</div>
            <div class="classify-inner">汽车用品</div>
            <div class="classify-inner">医药保健</div>
            <div class="classify-inner">计生情趣</div>
            <div class="classify-inner">全球购</div>
            <div class="classify-inner">京东金融</div>
            <div class="classify-inner">生活旅行</div>
            <div class="classify-inner">宠物农资</div>
        </div>
    </ion-scroll>
    <div class="classify-content">
        <ui-view>

        </ui-view>
    </div>
</div>
<!--<a ui-sref-active="" ui-sref=".page1-1">page1-1</a>-->
<!--<ui-view></ui-view>-->